<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fast_ad.fast_ad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.maptest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".activities.CommandeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.product.RapideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.basic.updates.NumberUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.basic.updates.UpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.product.CoursierActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.basic.PaymentActity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.basic.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.product.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GetAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.basic.FaqActivity" />
        <activity android:name=".activities.basic.HelpActivity" />
        <activity
            android:name=".activities.PolitiqueActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PositionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>